{% extends "conteneur.html" %}
{% block titre %}
    | Accueil
{% endblock %}

{% block afternav %}
    {% include "partials/recherche.html" %}
{%endblock%}

{%block corps%}
<div>
    <br/>
        <h3 class="text-center">Bienvenue sur {{nom}} !</h3>
    <br/>
        <h5  class="text-center"><em>Un outil collaboratif pour rassembler les lettres envoyées par les missionnaires
            jésuites européens à leur Préposé Général, Giacomo Lainez, de son élection en juillet 1558 à sa mort en
            janvier 1565.</em>
        </h5>
    <br/>
        {% if toutes_les_lettres and toutes_les_transcriptions %}
            <h6 class="text-center">Actuellement, la base de données compte
                <a href="{{url_for('lettres')}}">{{toutes_les_lettres|length}}</a> lettres et
                <a href="{{url_for('transcriptions')}}">{{toutes_les_transcriptions|length}}</a> transcriptions.
            </h6>
    <br/>

<div class="container">
    <div class="row">
        <div class="col p-3 mb-2 bg-light text-dark">
            <h6> Les {{dernieres_lettres|length}} dernières lettres enregistrées : </h6>
                <ul>{% for lettre in dernieres_lettres %}
                    <li>La lettre écrite par {{lettre.lettre_redacteur}} à {{lettre.lettre_lieu}} ({{lettre.lettre_date}})

                    <a href="{{url_for('unique_lettre', lettre_id = lettre.lettre_id)}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                    </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col p-3 mb-2 bg-light text-dark">
                <h6>Les {{dernieres_transcriptions|length}} dernières transcriptions ajoutées :</h6>
                <ul>{% for transcription in dernieres_transcriptions %}
                    <li>La transcription de la lettre {{transcription.transcription_lettre_id }} :
                    <a href="{{url_for('afficher_transcription', transcription_id = transcription.transcription_id)}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                    </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
        {% else %}
                <p>La base de données est en cours de constitution</p>
        {% endif %}
{%endblock%}
