{% extends "conteneur.html" %}

{%block corps%}

    {% if lettres %}

    <div>
        <br/>
        <h4 class="text-center">{{lettres.total}} lettres actuellement dans la base.
            <a class="btn btn-outline-success" role="button" href="{{url_for('creation')}}">Ajouter une lettre</a>
        </h4>
    </div>

        <table class="table">
                <thead>
                        <tr>
                                <th>L-#</th>
                                <th>Date</th>
                                <th>Lieu</th>
                                <th>Auteur</th>
                                <td>Volume</td>
                        </tr>
                </thead>
                <tbody>
                        {% for lettre in lettres.items %}
                        <tr>
                            <td><a href={{url_for('unique_lettre',lettre_id=lettre.lettre_id)}}>L-{{lettre.lettre_id}}</a></td>
                            <td>{{lettre.lettre_date}}</td>
                            <td>{{lettre.lettre_lieu}}</td>
                            <td>{{lettre.lettre_redacteur}}</td>
                            <td width=40% >{% if lettre.lettre_volume %}
                                {% for publication in lettre.lettre_volume %}
                                {{publication.publication_titre}} [Tome : {{publication.publication_volume}}] .
                                {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>

        <nav aria-label="research-pagination">
              <ul class="pagination justify-content-center">
                {%- for page in lettres.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
                    {% if page %}
                      {% if page != lettres.page %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('lettres', page=page) }}">{{page}}</a>
                        </li>
                      {% else %}
                        <li class="page-item active disabled">
                          <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                        </li>
                      {% endif %}

                    {% else %}
                        <li class="page-item disabled">
                          <a class="page-link">...</a>
                        </li>
                    {% endif %}

                {%- endfor %}
              </ul>
        </nav>

        {% else %}
        <p>La base de données est en cours de constitution</p>
        {% endif %}

<br/>
    <a class="btn btn-outline-dark" role="button" href="{{url_for('accueil')}}">Retourner à l'accueil</a>
    <a class="btn btn-outline-dark" role="button" href="{{url_for('index')}}">Index des lettres</a>
<br/>
<br/>
<br/>




{%endblock%}