{% extends "conteneur.html" %}

{%block corps%}

        <p>Cette application est créée dans le cadre de l'évaluation du cours Python de Mr. Clérice.</p>
        <p>Elle est en cours de développement !</p>

        <p>Voici les redacteurs actuellement dans la base :

        {% if lettres %}
                <ul>
                {% for lettre in lettres %}
                        <li>
                                {{lettre.lettre_redacteur}}
                        </li>
                {% endfor %}
                </ul>
        {% else %}
                La base de données est en cours de constitution
        {% endif %}
        </p>
        <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>

{%endblock%}