{% extends "conteneur.html" %}

{% block titre %}
    | Ajout d'un ouvrage
{% endblock %}

{% block corps %}

<h1>Formulaire d'ajout d'un nouvel ouvrage</h1>

<form method="post" action="{{url_for('publication_creation')}}" class="">
    <div>
        <label for="champs_ref">Titre :</label>
        <input type="text" name="publication_titre" placeholder="Titre" id="champs_ref">
    </div>

    <div>
        <label for="champs_num">Volume :</label>
        <input type="text" name="publication_volume" placeholder="Tome" id="champs_num">
    </div>

    <button type="submit">Sauvegarder</button>


</form>

<p><a href="{{url_for('publications')}}">Retour</a></p>
{% endblock %}