{% extends "conteneur.html" %}

{% block titre %}
    | Les sources
{% endblock %}

{%block corps%}
<div>
        <br/>
        <h3 class="text-center">Les sources</h3>

        {% if publications %}
        <h4 class="text-center" >La base de données rassemble les données de {{publications|length}} ouvrages de la MHSI

        {% if current_user.is_authenticated %}
        <a class="btn btn-outline-success" role="button" href="{{url_for('publication_creation')}}">Ajouter un ouvrage</a>
        {% endif %}
        </h4>

        </div>

        <table class="table">
                <thead>
                        <tr>
                                <th>P-#</th>
                                <th>Titre</th>
                                <th>Volume</th>
                                {% if current_user.is_authenticated %}
                                <th>Modification/suppression</th>
                                {% endif %}
                                <th>JSON</th>
                        </tr>
                </thead>
                <tbody>
                {% for publication in publications %}
                <tr>
                        <td><a href={{url_for('unique_publication',publication_id=publication.publication_id)}}> P-{{publication.publication_id}}</a></td>
                        <td width=60%> {{publication.publication_titre}} </td>

                        <td> {% if publication.publication_volume %}
                         Volume {{publication.publication_volume}}
                        {% endif %}
                        </td>
                        <td>
                        {% if current_user.is_authenticated %}
                        <a class="btn btn-outline-success" role="button" href={{url_for('edition_publication',publication_id=publication.publication_id)}}>Modifier</a>
                        <a class="btn btn-outline-danger" role="button" href={{url_for('suppression_publication',publication_id=publication.publication_id)}}>Supprimer</a>
                        {% endif %}
                        </td>
                        <td>
                             <a class="btn btn-outline-dark" role="button" href="{{url_for('api_publication_unique', publication_id=publication.publication_id)}}">JSON</a>
                        </td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
        {% else %}
        <p>La base de données est en cours de constitution</p>
        {% endif %}

<div>
        <a class="btn btn-outline-dark" role="button" href="{{url_for('accueil')}}">Retourner à l'accueil</a>
        <a class="btn btn-outline-dark" role="button" href="{{url_for('api_publications')}}">JSON</a>
</div>
<br/>

{%endblock%}