{% extends "conteneur.html" %}

{% block titre %}| Suppression source{%endblock%}

{% block corps %}
<br/>
<header>
	<h3>Supprimer une source</h3>
</header>

	<div>
		{% if lettre.lettre_volume %}

		Quelle source voulez vous supprimer ?

		<form method="POST" action="{{url_for('supprimer_source', lettre_id=lettre.lettre_id)}}" class="">
    	<div>
        <p>Ouvrages:</p>
        <select name="publication_id" class="form-control">
            {% for publication in lettre.lettre_volume %}
            <option value="{{publication.publication_id}}">
				{{publication.publication_titre}} [Tome : {{publication.publication_volume}}]
			</option>
            {% endfor %}
        </select>
        <input type="submit" name="publication_id">

        </div>
	</form>
	{% endif %}

	</div>

{% endblock %}