{% extends "conteneur.html" %}

{% block corps %}
<h3>A quelle publication voulez vous relier cette lettre ? </h3>

<form method="POST" action="{{url_for('source', lettre_id=lettre.lettre_id)}}" class="">
    <div>
        <p>Ouvrages:</p>
        <select name="publication_id" class="form-control">
            {% for publication in publications %}
            <option value="{{publication.publication_id}}">{{publication.publication_titre}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="publication_id">
        </div>
</form>







{% endblock %}