{% extends "conteneur.html" %}

{% block titre %}
    | Editer la lettre {{lettre_modifiee.lettre_id}}
{% endblock %}

{% block corps %}

<h1>Formulaire d'édition</h1>

<form method="post" action="{{url_for('edition', lettre_id=lettre_modifiee.lettre_id)}}" class="">
    <div class="form-group">
        <label for="champs_num">Numéro de la  lettre : </label>
        <input type="text" class="form-control" name="lettre_numero" placeholder="Identifiant de la lettre" id="champs_num" value="{{lettre_modifiee.lettre_numero}}">
    </div>

    <div class="form-group">
        <label for="champs_auteur">Rédacteur : </label>
        <input type="text" class="form-control" name="lettre_redacteur" placeholder="Auteur de la lettre" id="champs_auteur" value="{{lettre_modifiee.lettre_redacteur}}">
    </div>

    <div class="form-group">
        <label for="champs_lieu">Lieu d'envoi : </label>
        <input type="text" class="form-control" name="lettre_lieu" placeholder="Lieu d'envoi de la lettre" id="champs_lieu" value="{{lettre_modifiee.lettre_lieu}}">
    </div>

    <div class="form-group">
        <label for="champs_date">Date de la lettre : </label>
        <input type="text" class="form-control" name="lettre_date" placeholder="Date de la lettre" id="champs_date" value="{{lettre_modifiee.lettre_date}}">
    </div>
    <button class="btn btn-primary" type="submit">Sauvegarder</button>


</form>

<div>
    <br/>
    <a class="btn btn-outline-dark" role="button" href="{{url_for('accueil')}}">Retourner à l'accueil</a>
    <a class="btn btn-outline-dark" role="button" href="{{url_for('lettres')}}">Retourner aux lettres</a>
</div>

{% endblock %}