<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>Correspondance Jésuite {%block titre%}{%endblock%}</title>
        {% include "partials/metadata.html" %}
        {% include "partials/css.html"%}
        <style type="text/css">
                .hero  {
                    background-position: center center;
                    padding:10vh;
                    background-image: url({{url_for("static", filename="images/plafond_San_Ign.jpg")}});
                }
                .container .hero {
                    background-image: none;
                }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="{{ url_for('accueil') }}">Correspondance Jésuite</a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('lettres')}}">Les lettres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('transcriptions')}}">Les transcriptions</a>
                </li>
                <li>
                    <a class="nav-link" href="{{url_for('publications')}}">Les sources</a>
                </li>

                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('inscription')}}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('connexion')}}">Connexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('deconnexion')}}">Déconnexion ({{current_user.ut_nom}})</a>
                </li>
                {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{{url_for('recherche')}}" method="GET">
                    <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Recherche" aria-label="Recherche">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
              </nav>




        {% block afternav %}{%endblock%}

          <div class="container">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="row">
                <div class="col">
                    {% for category, message in messages %}
                      <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
              {% endwith %}

              <div class="row">
                <div class="col">
                    {% block corps %}{% endblock %}
                </div>
              </div>
          </div>

    </body>

    <footer class="bg-dark text-center text-white">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a  class="text-white" href={{url_for('projet')}}>Plus d'informations sur ce projet</a>
        </div>
    </footer>

</html>